body {
    text-align: center;
}

#connect4 {
    background-color: yellow;
    display: inline-block;
}

.col {
    width: 70px;
    height: 70px;
    display: inline-block;
    background-color: white;
    margin: 5px;
    border-radius: 50%;
}

.col.empty {
    cursor: pointer;
}

.next-red {
    background-color:rgba(225,0,0,0.2);
}

.next-black {
    background-color:rgba(0,0,0,0.2)
}

.col.red {
    background-color: red;
}

.col.black {
    background-color: black;
}